---
import BaseLayout from '../layouts/BaseLayout.astro';


const pageTitle = "Hobbies";
---
<BaseLayout pageTitle={pageTitle}>


  <p>These are some of the hobbies I enjoy:</p>

  <ul>
     <li>playing clawhammer banjo</li>
     <li>playing ambient guitar</li>
     <li>web development</li>
     <li>playing TTRPGs</li>
     <li>lockpicking</li>
  </ul>
 
</BaseLayout>