---
import BaseLayout from '../layouts/BaseLayout.astro';


const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>


  <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
 
</BaseLayout>