
<div class="nav-links">
  <a href="/astrob/">Home</a>
  <a href="/astrob/about/">About</a>
  <a href="/astrob/blog/">Blog</a>
  <a href="/astrob/tags/">Tags</a>
  <a href=""/astrob/Hobbies">Hobbies</a>
</div>
